body, h1, h2, h3, h4, h5, h6, h7, h8, h9, p, ul, li 
{
    margin: 0;
    padding: 0;
}
body 
{
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: azure;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
}

header h1,h2,h4,h6,h8 {
    margin: 8;
    font-size: 50px;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline-flex;
    margin-right: 20px;
}

nav ul li a {
color: #fff;
text-decoration: none;
}

main {
display: flow-root;
justify-content: space-between;
padding: 30px;
}

.latest-news {
flex: 2;
}

aside {
flex: 1;
}

article {
margin-bottom: 20px;
}

footer {
background-color: #333;
color: #fff;
text-align:center;
padding: 10px;
position: absolute;
bottom: 10px;
width: 100%;
}

.image-with-text 
{
    display: inline-block;
    margin-top: 50px;
    border-top: 50px;
    padding-top: 10px;
    
}

.article {
    display: flex;
    justify-content: space-between;
}

.article article img {
   /* height: 180px; */
   width: 100%;
}

.article article {
    width: 30%;
}

section h2 {
    margin-bottom: 16px;
}

section h4 {
    margin-bottom: 16px;
}

section h6 {
    margin-bottom: 16px;
}

section h8 {
    margin-bottom: 16px;
}

.article article a {
    background-color: blue;
    color: #fff;
    padding: 8px;
    display: inline-block;
}

#Noticias {
    background-color: rgba(0, 255, 0, 0.1);
}

#Esportes {
    background-color: #fffa65;
}

#Tecnologia {
    background-color: aquamarine;
}

#Entretenimento {
    background-color: rgb(150, 107, 138);
}
